<div class="jumbotron">
  <h2>Desafio de programação</h2>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi totam sequi velit consequatur alias, aspernatur commodi facilis illum, nam quos necessitatibus culpa perferendis ullam pariatur ipsum consequuntur repudiandae itaque optio?
<%= render "upload" %>
  <p></p>
</div>
